.github
.vscode
.git
.husky
**/*.map
node_modules
src
test
jest.config.js
jest.fuzz.config.js
stryker.config.json
tsconfig.json
biome.json
TODO.md
.gitignore
*.tsbuildinfo
*.log
knip.json
.jscpd.json
.dependency-cruiser.js
test-split.js
package-lock.json
.antigravityignore
*.vsix
coverage
reports
.cifuzz-corpus
.stryker-tmp
