.github
.vscode
.git
.husky
**/*.map
node_modules
src
test
jest.config.js
tsconfig.json
biome.json
TODO.md
.gitignore
*.tsbuildinfo
*.log
knip.json
.jscpd.json
.dependency-cruiser.js
test-split.js
package-lock.json
.antigravityignore
*.vsix
